.DS_Store
bin/
build/
gen/
libs/
obj/
dist/
Debug/
Release/
ipch/
logs/
**/.idea/workspace.xml
**/.idea/tasks.xml
*.log
*.py[cod]
*.aps
*.suo
*.sdf
*.opensdf
*.xcworkspace
*.vcxproj.user
xcuserdata
todo
libgame.so
